<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.ocean.lottery.infrastructure.dao.IUserTakeActivityDao">


    <resultMap id="userTakeActivityMap" type="pers.ocean.lottery.infrastructure.po.UserTakeActivity">
        <id column="id" property="id"/>
        <result column="u_id" property="userId"/>
        <result column="take_id" property="takeId"/>
        <result column="activity_id" property="activityId"/>
        <result column="activity_name" property="activityName"/>
        <result column="take_date" property="takeDate"/>
        <result column="take_count" property="takeCount"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="state" property="state"/>
        <result column="uuid" property="uuid"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="pers.ocean.lottery.infrastructure.po.UserTakeActivity">
        INSERT INTO user_take_activity(u_id, take_id, activity_id, activity_name, take_date,
                                       take_count, uuid, create_time, update_time)
        VALUES (#{userId}, #{takeId}, #{activityId}, #{activityName}, #{takeDate},
                #{takeCount}, #{uuid}, now(), now());
    </insert>

    <select id="queryNoConsumedTakeActivityOrder" parameterType="pers.ocean.lottery.infrastructure.po.UserTakeActivity"
            resultMap="userTakeActivityMap">
        SELECT activity_id, take_id, strategy_id, state
        FROM user_take_activity
        WHERE u_id = #{userId}
          AND activity_id = #{activityId}
          AND state = 0
        ORDER BY id DESC LIMIT 1
    </select>
</mapper>